<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block titulo%} Titulo por defecto {%endblock%}</title>
</head>
<body>
    <nav>
        <a href="/contacto">A contactos</a>
        <a href="/"> Pagina inicio</a>
        <a href="{%url 'saludo'%}"> Pagina hola</a>
    </nav>>

    {%block contenido%}
    Contenido por defecto
    {%endblock%}

    <footer>hecho por sebastian</footer>

</body>
</html>